Testing.txt
Software-Exercise-2-Data-Machine.xlsx
Software-Exercise-2-Data-Collab.xlsx
Software-Exercise-2-Gador.docx
ijk.txt
kji.txt
jik.txt
jki.txt
kij.txt
ikj.txt
~$Software-Exercise-2-Data-Collab.xlsx
~$ftware-Exercise-2-Gador.docx
~WRL0005.tmp
